{%- comment -%} General Level {%- endcomment -%}
{% if enable_message %}

  {{ 'alert-message.css' | asset_url | stylesheet_tag }}

  <style>
    .alert-message {
      background-color: {{ color_bg }};
    }
    .alert-message__link:focus,
    .alert-message__link:hover {
      {% assign brightness = color_bg | color_brightness %}

      {% if brightness <= 192 %}
        {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
        background-color: {{ color_bg | color_lighten: lightenAmount }};
      {% else %}
        {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
        background-color: {{ color_bg | color_darken: darkenAmount }};
      {% endif %}
    }

    .alert-message__title,
    .alert-message__subtitle {
      color: {{ color_text }};
    }

  </style>

  <div class="alert-message">
    {%- unless message_link == blank -%}
      <a href="{{ message_link }}" class="alert-message__link" aria-label="Especial message: {{ message_title | escape }} {{ message_subtitle | escape }}">
    {%- endunless -%}
        <div class="alert-message__container">
          <span class="alert-message__title">{{ message_title | escape }}</span>
          {% if allow_subtitle == true %}
            <p class="alert-message__subtitle">{{ message_subtitle | escape }}</p>
          {% endif %}
        </div>
    {%- unless message_link == blank -%}
      </a>
    {%- endunless -%}
  </div>

{% endif %}