{% if alt_image == blank %}
    {%- assign alt_image = 'Image' -%}
{% endif %}

<div class="banner-overlay {% if mobile_disable_overlay %}mobile-disable-overlay {% endif %}{% if event %}{% unless full_width %}container {% endunless %}{% endif %}">
    <div class="banner-overlay__image">
        
        {% render 'responsive-image', alt_image: alt_image,
            desktop_image: desktop_image_url, 
            desktop_aspect_ratio: desktop_image.aspect_ratio, 
            tablet_image: tablet_image_url, 
            tablet_aspect_ratio: tablet_image.aspect_ratio, 
            mobile_image:  mobile_image_url, 
            mobile_aspect_ratio: mobile_image.aspect_ratio %}

    </div>

    <div class="banner-overlay__container banner-overlay__position-{{overlay_position}} banner-overlay__align-{{text_align | downcase }}">
        <div class="banner-overlay__text-container {% if small_style %}banner-overlay__small{% endif %}" {% if text_color %}style="color:{{text_color}}"{% endif %}>
            <h1 class="banner-overlay__title">{{heading}}</h1>
            {% if subheading %}
                <p class="banner-overlay__subtitle">{{subheading}}</p>
            {% endif %}
            {% if button %}
                <div class="banner-overlay__button">
                    <a class="banner-overlay__link btn btn-{{button_style}}" href="{{ message_link }}">{{button}}</a>
                </div>
                {% if text_color %}
                    <style>
                        .banner-overlay__link.btn-link,
                        .banner-overlay__link.btn-link:hover {
                            color:{{text_color}};
                        }
                    </style>
                {% endif %} 
            {% endif %}
        </div>
    </div>
</div>