{{ 'collection-banner.css' | asset_url | stylesheet_tag }}

<div class="collection-banner">
        <a class="collection-banner__link" href="{{collection_link}}">
            <span class="visually-hidden">{{collection_title}}</span>
        </a> 

        <div class="collection-banner__image">
            {% if collection_image %}

                {%- assign collection_image_url = collection_image | img_url: '2048x' -%}

                {% render 'image', src: collection_image_url, aspect_ratio: collection_image.aspect_ratio, alt: collection_image.alt %}

            {% else %}

                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}

            {% endif %}
        </div>

        <div class="collection-banner__text-container">
            <div class="collection-banner__title">{{collection_title}}</div>
            <a href="{{collection_link}}" class="collection-banner__shop-now">{{shop_now}}</a>
        </div>
</div>
