{{ 'event-detail.css' | asset_url | stylesheet_tag }}

<div data-section class="event-detail">

    <div class="event-detail__image-wrapper">

        <div class="event-detail__image">

            {% render 'image', src: img_url, aspect_ratio: image.aspect_ratio %}
            
        </div>

    </div>

    <div class="event-detail__text-wrapper page-container">

        <span class="event-detail__date">{{highlighted_information}}</span>
        
        <h2 class="h1 event-detail__heading">{{heading}}</h2>

        <span class="event-detail__info">{{additional_info}}</span>

        <div class="event-detail__description">{{description}}</div>

        {% if date_location != blank %}

            <span class="event-detail__heading-detail">Date & location</span>

            <div>{{ date_location }}</div>  

        {% endif %}

        <div class="event-detail__scroll-button">
            {% render 'scroll-button' %}
        </div>
        
    </div>

</div>
