 {% liquid
    
    assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
    
    assign uses_comma_decimals = false
    
    if currencies_using_comma_decimals contains cart.currency.iso_code
        assign uses_comma_decimals = true
    endif
%}

{{ 'nouislider.css' | asset_url | stylesheet_tag }}
{{ 'nouislider.min.js' | asset_url | script_tag }}

<ul class="filters__list-options">

    <li class="filters__list-option-item">

        <price-range class="price-range">

            <div class="field">

                <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">
                    From <span class="field-currency">({{ cart.currency.symbol }})</span>
                </label>
                
                <input class="field__input"
                    name="{{ filter.min_value.param_name }}"
                    id="Filter-{{ filter.label | escape }}-GTE"
                    {%- if filter.min_value.value -%}
                        {%- if uses_comma_decimals -%}
                            value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                        {%- else -%}
                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                        {% endif %}
                    {%- endif -%}
                    type="number"
                    placeholder="0"
                    min="0"
                    {%- if uses_comma_decimals -%}
                        max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                    {%- else -%}
                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    {% endif %}
                ></input>
            
            </div>
            
            <div class="field">

                <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">
                    To <span class="field-currency">({{ cart.currency.symbol }})</span>
                </label>
            
                <input class="field__input"
                    name="{{ filter.max_value.param_name }}"
                    id="Filter-{{ filter.label | escape }}-LTE"
                    {%- if filter.max_value.value -%}
                        {%- if uses_comma_decimals -%}
                            value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                        {%- else -%}
                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                        {% endif %}
                    {%- endif -%}
                    type="number"
                    min="0"
                    {%- if uses_comma_decimals -%}
                        placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                        max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                    {%- else -%}
                        placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    {% endif %}
                ></input>

            </div>

            <price-range-slider
                class="price-range-slider"
                data-input-max-id="#Filter-{{ filter.label | escape }}-LTE"
                data-input-min-id="#Filter-{{ filter.label | escape }}-GTE"
                data-price-range-slide-min="0"
                {%- if uses_comma_decimals -%}
                    data-price-range-slide-max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                {%- else -%}
                    data-price-range-slide-max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                {% endif %}
            ></price-range-slider>
                                
        </price-range>

    </li>

    {% comment %} <li class="filters__list-option-item">
        <remove-filter>
        <a href="{{ filter.url_to_remove }}" data-filter-list-option-link></a>
        <div class="filters__list-option-item-header">
            <span>Clear</span>
        </div>
        </remove-filter>
    </li> {% endcomment %}

</ul>
