<div class="footer__newsletter">
    <div class="footer__newsletter-title"> {{ 'general.newsletter_form.title' | t }} </div>
    <div class="footer__newsletter-text"> {{ 'general.newsletter_form.description' | t }} </div>

    {%- assign formID = 'ContactFooter' -%}
    <form id="{{formID}}" action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate>
        {%- if form.posted_successfully? -%}
            <p class="form-message form-message--success" tabindex="-1" data-form-status>
            {{ 'general.newsletter_form.confirmation' | t }}
            </p>
        {%- endif -%}
      
        <div class="input-group {% if form.errors %} input-group--error {% endif %}">
            <input type="email"
            name="contact[email]"
            id="{{ formID }}-email"
            class="input-group__field newsletter__input {% if form.errors %} input--error {% endif %}"
            value="{{ form.email }}"
            placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
            aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
            aria-required="true"
            required
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors %}
                aria-invalid="true"
                aria-describedby="{{ formID }}-email-error"
                data-form-status
            {% endif %}>
        </div>

        <button type="submit" class="btn footer__newsletter-btn" name="commit" id="Subscribe" aria-label="Subscribe">
            {{ 'general.newsletter_form.submit' | t }}
        </button>

        {% if form.errors contains 'email' %}
            <span id="{{ formID }}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            <span class="footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
        {% endif %}
    </form>
</div>
