{%- capture level2Links -%}
    {% for level1 in linklists[menu].links %}
        {% if level1.levels > 0 %}
            {% for level2 in level1.links %}

                {%- assign menu_title = level2.title | handleize -%}

                <li class="global-menu__level2">
                    <a href="{{ level2.url }}" data-menu-level2="{{menu_title}}">{{ level2.title }} <span style="text-transform: uppercase;">{%- render 'event-subtitle', eventName: level2.title, showLiveLabel: true, showComingSoonDate: false, enableIntersectionObserver: false -%}</span></a>
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
{%- endcapture -%}

<li class="global-menu__level1">

    {%- assign level1Title = 'Online' -%}
    {%- assign menu_title = level1Title| handleize -%}

    <a href="#" data-accordion-heading data-menu="{{menu_title}}">{{ level1Title }}</a>

    <ul data-accordion-content data-accordion-submenu class="hidden">
        {{ level2Links }}
    </ul>

</li>