{% comment %} Get currect event index and status {% endcomment %}
{% comment %} {%- capture currentEventIndex -%}{% render 'current-event-index' %}{%- endcapture -%}
{%- capture currentEventStatus -%}{% render 'get-event-status', eventIndex: currentEventIndex %}{%- endcapture -%} {% endcomment %}

{% if wrapper %}<div class="site-header">{% endif %}
  <header class="page-container site-header__page-container">
      <div class="container site-header__container">

          <div class="site-header__left">
            {% unless simpleMode %}

              <!-- Menu left Icon - Desktop -->
              <div class="site-header__left-menu site-header__left-menu">
                <button class="btn-link" aria-label="Open menu" data-left-menu-open>{% render 'icon-menu' %}</button>
              </div>
              {% render 'left-menu' %}

              <div class="site-header__left-item site-header__menu">
                  <button class="btn-link" aria-label="Open menu" data-menu-open>{% render 'icon-menu' %}</button>
              </div>
              <div class="site-header__left-item site-header__search-toggle hidden__tablet hidden__desktop">
                  <button class="btn-link btn-link--text" aria-label="Open search" data-search-open>
                      {% render 'icon-search' %}
                  </button>
              </div>

              {% comment %} Collection menu {% endcomment %}
              {% if template.name == 'collection' %}

                <div class="site-header__collection-menu">

                  {% assign collection_title = collection.title | split: '-' | first | handleize %}
                  {% assign handle = "" %}

                  {% for list in linklists %}
                    {% if list.handle == collection_title %}
                      {% assign handle = list.handle %}
                    {% endif %}
                  {% endfor %}

                  {% if handle != "" %}
                    {% render 'menu', menu: handle, content: menu_content %}
                  {% else %}
                    {% render 'menu', menu: menu, content: menu_content %}
                  {% endif %}

                </div>

              {% comment %} Product page menu {% endcomment %}
              {% elsif template.name == 'product' %}

                {% assign product_vendor = product.vendor | handleize %}
                {% assign handle = "" %}

                {% for list in linklists %}
                  {% if list.handle == product_vendor %}
                    {% assign handle = list.handle %}
                  {% endif %}
                {% endfor %}

                {% if handle != "" %}
                  {% render 'menu', menu: handle, content: menu_content %}
                {% else %}
                  {% render 'menu', menu: menu, content: menu_content %}
                {% endif %}

              {% comment %} Page menu {% endcomment %}
              {% elsif template.name == 'page' %}

                {% assign page_title = page.title | split: '-' | first | handleize %}
                {% assign handle = "" %}
                {% assign comingSoonEvent = false %}

                {% comment %} Physical global menu {% endcomment %}
                {% if template == settings.event_physical_template_live %}
                  
                  {% assign handle = settings.event_physical_menu %}
                  {%- capture currentEventIndex -%}{% render 'current-event-index' %}{%- endcapture -%}
                  {%- capture currentEventStatus -%}{% render 'get-event-status', eventIndex: currentEventIndex %}{%- endcapture -%}

                  {% if currentEventStatus == 'coming-soon' %}
                    {% assign comingSoonEvent = true %}
                  {% endif %}
                  
                {% endif %}

                {% comment %} Online global menu {% endcomment %}
                {% if template == settings.event_online_template_live %}

                  {% assign handle = settings.event_online_menu %}
                  {%- capture currentEventIndex -%}{% render 'current-event-index' %}{%- endcapture -%}
                  {%- capture currentEventStatus -%}{% render 'get-event-status', eventIndex: currentEventIndex %}{%- endcapture -%}

                  {% if currentEventStatus == 'coming-soon' %}
                    {% assign comingSoonEvent = true %}
                  {% endif %}

                {% endif %}

                {% comment %} Brand menu {% endcomment %}
                {% unless comingSoonEvent == true %}
                  {% for list in linklists %}
                    {% if list.handle == page_title %}
                      {% assign handle = list.handle %}
                    {% endif %}
                  {% endfor %}
                {% endunless %}

                {% if handle != "" %}
                  {% render 'menu', menu: handle, content: menu_content %}
                {% else %}
                  {% render 'menu', menu: menu, content: menu_content %}
                {% endif %}

              {% else %}

                {% comment %} Other templates {% endcomment %}
                {% render 'menu', menu: menu, content: menu_content %}
                
              {% endif %}

            {% endunless %}
          </div>

          <div class="site-header__logo">
            {% if request.page_type == 'index' %}
                <h1 class="site-header__logo-wrapper"><span class="visually-hidden">{{shop.name}}</span>{% render 'logo-svg' %}</h1>
            {% else %}
                <a href="{{ routes.root_url }}" class="site-header__logo-wrapper">{% render 'logo' %}</a>
            {% endif %}
          </div>

          <div class="site-header__right">

            {% unless simpleMode %}

              <div class="site-header__search" data-search-bar-header>
                  {% render 'search-bar' %}
              </div>

              <div class="site-header__right-item hidden__mobile">
                  <button class="btn-link btn-link--text " aria-label="Open search" data-search-open>
                    <span>
                        <span>Search</span>
                    </span>
                  </button>
              </div>

              {% if shop.customer_accounts_enabled %}
                  {% if customer %}
                      <div class="site-header__right-item site-header__account">
                          <a href="{{ routes.account_url }}" class="btn-link btn-link--text">
                            <span><span>{{ 'layout.customer.account' | t: customer_firt_name: customer.first_name }}</span></span>
                          </a>
                      </div>
                  {% else %}
                      <div class="site-header__right-item site-header__account">
                          <a href="{{ routes.account_login_url }}" class="btn-link btn-link--text">
                            <span><span  class="hidden__mobile">{{ 'layout.customer.log_in' | t }}</span></span>
                        </a>
                      </div>
                  {% endif %}
              {% endif %}

              {% comment %} <div class="site-header__right-item site-header__wishlist">
                  <a href="#" class="btn-link"><span class="visually-hidden">Wish list</span>{% render 'icon-heart' %}</a>
              </div> {% endcomment %}

              <div class="site-header__right-item">
                {% render 'minicart-button' %}
              </div>

            {% endunless %}

          </div>
          
          <div class="site-header__bottom"></div>

      </div>
  </header>
{% if wrapper %}</div>{% endif %}