{{ 'help-center.css' | asset_url | stylesheet_tag }} 

<div class="help__container container page-container ">
    <div class="help__header">
        <h1>{{section.settings.title}}</h1>
        <div class="help__header-description">
            <p>{{section.settings.description}}</p>
            <p>{{section.settings.opening_hours}}</p>
        </div>
    </div>
    <div class="help__content">
        {% for block in section.blocks %}
            <div class="help__item">
                {% if block.settings.suport_contact == false %}
                    <a href="{{block.settings.page_link | downcase}}" class="help__item-link">
                {% endif %}
                <div class="help__item-image">
                    <img src="{{block.settings.category_image | img_url: '600x' }}" alt="{{section.settings.title}}">
                </div>
                <div class="help__item-description">
                    <h3>{{block.settings.category_title}}</h3>
                    {{block.settings.category_description}}
                </div>
                {% if block.settings.suport_contact != false%}
                    <a class="btn btn-ghost btn-ghost-secondary" href="mailto:{{section.settings.suport_email}}">Contact Us</a>
                {% endif %}
                {% if block.settings.suport_contact == false %}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
