{{ 'hot-trends.css' | asset_url | stylesheet_tag }}

{% if heading or small_image or large_image %}

    <div class="hot-trends container page-container">

        {% if heading %}
            <div class="hot-trends__heading">
                <h2 class="h3">{{heading}}</h2>
            </div>
        {% endif %}

        {% if small_image or large_image %}

            <div class="hot-trends__content">

                {% if small_image %}

                    <div class="hot-trends__small">

                        <div class="hot-trends__image">
                            {% render 'image', src: imgSmallSrc, aspect_ratio: small_image.aspect_ratio, alt: small_image.alt %}
                        </div>

                        <div class="hot-trends__title">{{ small_title }}</div>

                        <div class="hot-trends__description">{{ small_description }}</div>

                        <div class="hot-trends__shop-now">
                            <a href="{{ small_link }}">Shop Now</a>
                        </div>

                    </div>

                {% endif %}

                {% if large_image %}

                    <div class="hot-trends__large">

                        <div class="hot-trends__image">
                            {% render 'image', src: imgLargeSrc, aspect_ratio: large_image.aspect_ratio, alt: large_image.alt %}
                        </div>

                        <div class="hot-trends__title">{{ large_title }}</div>

                        <div class="hot-trends__description">{{ large_description }}</div>

                        <div class="hot-trends__shop-now">
                            <a href="{{ large_link }}">Shop Now</a>
                        </div>

                    </div>

                {% endif %}

            </div>

        {% endif %}

    </div>
    
{% endif %}
