{%- if ID_instagram != blank -%}

{{ 'instagram.css' | asset_url | stylesheet_tag }}

<div class="instagram {% unless full_width %}container page-container{% endunless %}">

    <div class="instagram__heading">
        <h2 class="instagram__title">{{ title }}</h2>
        <div class="instagram__description">
            {{ description }}
            <a class="instagram__link" href="{{ link_url }}">{{ link_text }}</a>
        </div>
    </div>

    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="{{ ID_instagram }}"></div> 

</div>

{%- endif -%}
