<script src="{{ 'left-menu.js' | asset_url }}" defer="defer"></script>

<left-menu class="left-menu">
    <nav>
        <div class="left-menu__container">

            <div class="left-menu__top">
                <button class="btn-link left-menu__close" aria-label="Close menu" data-left-menu-close>{% render 'icon-close' %}</button>
                <div class="left-menu__top-links">Menu</div>
            </div>

            <div class="left-menu__navigation-wrapper">
                {% render 'global-menu', menu: 'global-menu', btn_menu: 'menu-global-second'  %}
            </div>

            <div class="left-menu__bottom">
                {% render 'social-links' %}

                <div class="left-menu__bottom-shop">
                    <p>
                        <a href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                    </p>
                    <span>
                        <a href="tel:{{ shop.phone }}">{{ shop.phone }}</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="left-menu__overlay global-overlay" data-left-menu-close></div>
    </nav>
</left-menu>