<script src="{{ 'menu.js' | asset_url }}" defer="defer"></script>

{% render 'menu-content', menu: menu, content: content %}

<main-menu class="menu">
    <nav>
        <div class="menu__container">

            <div class="menu__top">
                <button class="btn-link menu__close" aria-label="Close menu" data-menu-close>{% render 'icon-close' %}</button>
                <div class="menu__top-links"></div>
            </div>

            <div class="menu__navigation-wrapper">

                <ul class="menu__navigation">

                    {% for level1 in linklists[menu].links %}

                        {%- capture custom_content -%}
                            {% render 'menu-content', menu: menu, menu_item: level1.title, content: content %}
                        {%- endcapture -%}

                        {% if level1.levels > 0 %}

                            {%- comment -%} Level 1 {%- endcomment -%}
                            <li class="menu__navigation-level-1">

                                <div class="menu__submenu-button">
                                    <a class="btn-link btn-link--text" href="{{ level1.url }}" data-menu-level1-link data-menu-submenu-target-hover="level_1_{{ level1.title | handleize }}" data-menu-submenu-target="level_1_{{ level1.title | handleize }}"><span><span>{{ level1.title | escape }}</span></span></a>
                                </div>
        
                                <div data-menu-submenu="level_1_{{ level1.title | handleize }}" class="menu__submenu">

                                    <ul class="menu__submenu-list{% if custom_content != blank %} has-static-content{% endif %}">
            
                                        <li class="menu__submenu-heading">
                                            <button class="btn-link menu__navigation-button menu__navigation-back" aria-label="Close submenu {{ level1.title | escape }}" data-menu-submenu-close-target="level_1_{{ level1.title | handleize }}">{% render 'icon-arrow' %}</button>
                                            <a class="link-highlight" href="{{ level1.url }}"><span>Back</span></a>
                                        </li>

                                        {% if menu == settings.event_online_menu or menu == settings.event_physical_menu %}

                                            {% comment %} Online and physical events menu {% endcomment %}

                                            <li class="menu__submenu-content--full">
                                                {% for level2 in level1.links %}
                                                    {% render 'menu-event-content', eventName: level2.title, eventUrl: level2.url %}
                                                {% endfor %}
                                            </li>
                                            
                                        {% else %}

                                            {% comment %} Default Links and custom content {% endcomment %}

                                            {% for level2 in level1.links %}

                                                {%- comment -%} Level 2 with sublinks {%- endcomment -%}

                                                {% if level2.levels > 0 %}

                                                    <li class="menu__navigation-level-2 active" role="navigation" data-accordion {% if custom_content != blank %}data-level="{{ level1.links.size }}"{% endif %}>

                                                        <button class="link-highlight" id="btn1" aria-expanded="false" aria-controls="content1" aria-label="accordion" data-accordion-heading><a class="link-highlight" href="{{ level2.url }}"><span>{{ level2.title | escape }}</span></a>{% render 'icon-chevron' %}</button>

                                                        {% assign level_3 = true %}

                                                        <ul class="accordion__content" id="content1" role="region" aria-labelledby="bt1" data-accordion-content>
                                                            {% for level3 in level2.links %}

                                                                {%- comment -%} Level 3 {%- endcomment -%}
                                                                <li class="menu__navigation-level-3">
                                                                    <a href="{{ level3.url }}" title="{{ level3.title | escape }}">{{ level3.title | escape }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>

                                                    </li>

                                                {% else %}

                                                {% comment %} Level 2 with no sublinks {% endcomment %}

                                                <li class="menu__navigation-level-2">
                                                    <a class="btn-link btn-link--text" data-menu-level2-link href="{{ level2.url }}"><span><span>{{ level2.title | escape }}</span></span></a>
                                                </li>

                                                {% endif %}
                                                
                                            {% endfor %}

                                            {% if custom_content != blank %}
                                                <li class="menu__submenu-content--right{% if level_3 %} has-level{% endif %}">
                                                    {{ custom_content }}
                                                </li>
                                            {% endif %}
                                            
                                        {% endif %}

                                    </ul>

                                </div>
                            </li>
                        {% else %}

                            {% if custom_content != blank %}

                                {%- comment -%} Level 1 with custom content {%- endcomment -%}
                                <li class="menu__navigation-level-1">
                                    <div class="menu__submenu-button">
                                        <a class="btn-link btn-link--text" href="{{ level1.url }}" data-menu-level1-link data-menu-submenu-target-hover="level_1_{{ level1.title | handleize }}" data-menu-submenu-target="level_1_{{ level1.title | handleize }}"><span><span>{{ level1.title | escape }}</span></span></a>
                                    </div>
                                    <div data-menu-submenu="level_1_{{ level1.title | handleize }}" class="menu__submenu">
                                        <ul class="menu__submenu-list">
                                            <li class="menu__submenu-heading">
                                                <button class="btn-link menu__navigation-button menu__navigation-back" aria-label="Close submenu {{ level1.title | escape }}" data-menu-submenu-close-target="level_1_{{ level1.title | handleize }}">{% render 'icon-arrow' %}</button>
                                                <a class="link-highlight" href="{{ level1.url }}"><span>Back</span></a>
                                            </li>
                                            <li class="menu__submenu-content--full">
                                                {{ custom_content }}
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                            {% else %}

                                {%- comment -%} Level 1 {%- endcomment -%}
                                <li class="menu__navigation-level-1">
                                    <a class="btn-link btn-link--text" data-menu-level1-link href="{{ level1.url }}"><span><span>{{ level1.title | escape }}</span></span></a>
                                </li>

                            {% endif %}
                            
                        {% endif %}

                    {% endfor %}

                </ul>
            
                <div class="hidden__desktop-large">{% render 'global-menu', menu: 'global-menu', btn_menu: 'menu-global-second' %}</div>

            </div>

            <div class="menu__bottom">
                {% if customer %}
                    <a href="{{ routes.account_url }}" class="menu__account btn btn-ghost btn-full">{{ 'menu.mobile_menu.logged_in_title' | t: customer_firt_name: customer.first_name }}</a>
                {% else %}
                    <a href="{{ routes.account_login_url }}" class="menu__account btn btn-ghost btn-full">{{ 'menu.mobile_menu.logged_out_title' | t }}</a>
                {% endif %}
                {% comment %} {% render 'button-linklist', linklist_id: 'header-links', linklist_class: 'menu__bottom-item' %} {% endcomment %}
            </div>

        </div>

        <div class="menu__overlay global-overlay" data-menu-close></div>

    </nav>
</main-menu>