{{ 'price-table-category.css' | asset_url | stylesheet_tag }}

<div class="price-table-category {% unless section.settings.full_width %}container page-container{% endunless %}" >

    <h2 class="price-table-category__heading">{{section.settings.heading}}</h2>

    <swiper-slider class="swiper swiper__product-card"  
    data-view-mobile="1.1"
    data-view-tablet="3.2"
    data-view-tablet-extra="4"
    data-view-desktop="4" 
    data-options='{ "pagination": { "el": ".swiper-pagination", "dynamicBullets": false } }' style="width: 100%;display: block;">

        <div class="swiper-wrapper">

            {% for block in section.blocks %}

                {% if block.type == 'item' %}

                    <div class="swiper-slide">

                        <div class="price-table-category__item">

                            <a class="price-table-category__link" href="{{ block.settings.link }}"></a>

                            <div class="price-table-category__image-wrapper">

                                {% if block.settings.image != blank %}

                                    {% assign img_url = block.settings.image | img_url: '1600x' %}

                                    {% render 'image', src: img_url, aspect_ratio: block.settings.image.aspect_ratio %}

                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}

                            </div>

                            <div class="price-table-category__text-wrapper">

                                <div class="price-table-category__item-heading" >{{ block.settings.heading }}</div>

                                <div class="price-table-category__price" > at ${{ block.settings.price }}</div>

                            </div>

                        </div>

                    </div>

                {% endif %}

            {% endfor %}

        </div>

        <div class="swiper-pagination"></div>

        {% if section.blocks.size > 4 %}
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        {% endif %}

    </swiper-slider>

</div>
