<component-addtocart class="product-form" data-handle="{{ product.handle }}">

    {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}

        <input id="vendor" type="hidden" value={{product.vendor}} name="properties[Vendor]">
        
        <div class="product-form__tags">
            {% capture sale_text %}
                {{ 'products.product.on_sale' | t }}
            {% endcapture %}

            {% render 'labels', sale: sale_text, product: product %}
        </div>

        <div class="product-form__options" style="display: none;">
            {% render 'product-options', product: product %}
        </div>

        <div class="product-form__swatches">
            {% render 'size-table'%}
            {% render 'product-swatches', product: product %}
        </div>

        <stocklevel-component data-handle={{ product.handle }} style="font-size: 14px; line-height: 14px; text-transform: uppercase; color: #D22026;"></stocklevel-component>
        
        <div class="product-form__controls">

            <div class="product-form__title">
                <span>{{ product.title }}</span>
            </div>

            <price-component data-handle="{{ product.handle }}" class="product-form__price" data-product-single-update="price">
                <span data-price class="product-form__price--current">{{ current_variant.price | money }}</span>
                {% if product.compare_at_price_max > 0 %}
                    <span data-compareatprice class="product-form__price--compared">{{ product.compare_at_price_max | money }}</span>
                {% endif %}
            </price-component>

            <div class="product-form__share-button hidden__tablet hidden__desktop">
                {% render 'share' %}
            </div>

            <div class="product-form__actions">
        
                <div class="product-form__quantity">
                    {% render 'quantity-selector', value: 1, name: 'quantity' %}
                </div>

                <div class="product-form__buttons">
                    <button type="submit" name="add" class="btn btn-secondary">
                        {{ 'products.product.add_to_cart' | t }}
                    </button>
                </div>

            </div>

        </div>
        
        <div class="product-form__error-message" data-error-message></div>
  
    {% endform %}
  
</component-addtocart>
