{% assign current_variant = product.selected_or_first_available_variant %}

<div class="product-single" data-product-single="{{ product.id }}">

    <div class="product-single__media">
        <div class="product-single__media-container">
            {% render 'product-gallery', product: product, enable_zoom: enable_zoom %}
        </div>
    </div> 

    <div class="product-single__details">

        <div class="product-single__details-wrapper">

            <h1 class="product-single__title">
                <span>{{ product.title }}</span>
            </h1>

            <price-component data-handle="{{ product.handle }}" class="product-single__price" data-product-single-update="price">
                <span data-price class="product-single__price--current">{{ current_variant.price | money }}</span>
                {% if product.compare_at_price_max > 0 %}
                    <span data-compareatprice class="product-single__price--compared">{{ product.compare_at_price_max | money }}</span>
                {% endif %}
            </price-component>

            {% comment %} <div class="product-single__share product-single__share--top">
                {% render 'share' %}
            </div> {% endcomment %}

            <div class="product-single__form">
                {% render 'product-form', product: product %}
            </div>

            <div class="product-single__features">

                {% if product.description != blank %}
                    <div class="product-single__description hidden__desktop hidden__tablet">
                            {{ product.description }}
                    </div>
                {% endif %}

                {% render 'product-details' %}

                <div class="product-single__share product-single__share--footer">
                    {% render 'share' %}
                </div>

                {% if product.description != blank %}
                    <div class="product-single__description hidden__mobile" data-accordion>
                        <button class="product-single__description-btn" id="btnDescription" aria-expanded="false" aria-controls="contentDescription" data-accordion-heading>
                            See more
                        </button>
                        <div class="product-single__description-text"  id="contentDescription" role="region" aria-labelledby="btnDescription" data-accordion-content>
                            {{ product.description }}
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>

    </div>
</div>
