{{ 'component-gallery.css' | asset_url | stylesheet_tag }}

<script src="{{ 'gallery.js' | asset_url }}" defer="defer"></script>

<component-gallery class="gallery" data-gallery-product-id="{{product.id}}">

  {% if enable_zoom %}
    <button class="gallery__zoom" data-zoom>zoom</button>
  {% endif %}

  {%- assign availableVariant = product.first_available_variant -%}

  {% render 'product-gallery-thumbnails', product: product %}

  <div class="swiper gallery__images gallery__images-flex" data-gallery>

    <div class="swiper-wrapper" data-gallery-wrapper>

      {% for image in product.images %}

        <div class="swiper-slide gallery__item" data-gallery-item="{{ image.alt | escape }}" data-gallery-item-index="{{ forloop.index0}}">

          <div class="loading" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">

            <img 
            data-src="{{ image.src | img_url: 'x2000'}}" 
            alt="{{ image.alt | escape }}"
            {% comment %} data-pswp-img 
            data-pswp-src="{{ image.src | img_url: 'x2000'}}" 
            data-pswp-width="{{ image.width }}" 
            data-pswp-height="{{ image.height }}" {% endcomment %}
            {% comment %} width="{{ image.width }}" {% endcomment %}
            {% comment %} height="{{ image.height }}" {% endcomment %}
            class="swiper-lazy" />

            <div class="swiper-lazy-preloader"></div>

          </div>

        </div>

      {% endfor %}

    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination swiper-gallery-pagination"></div>

  </div>

</component-gallery>
