{% assign min = 1 %}
{% assign max = 300 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

{% if label == blank %}
    {%- assign label = 'products.product.quantity' | t -%}
{% endif %}

<div class="quantity-selector" data-quantity-selector>
    <label for="quantity-selector-{{ randomNumber }}">{{ label }}</label>
    
    <button class="quantity-selector__minus" data-quantity-selector-minus>
        <span class="visually-hidden">Decrease quantity</span>
        {% render 'icon-less' %}
    </button>

    <input 
        id="quantity-selector-{{ randomNumber }}"
        {% if id %} data-cart-page-item-id="{{ id }}"{% endif %} 
        class="quantity-selector__quantity" 
        autocomplete="off" 
        type="number" 
        min="1" 
        size="4" 
        aria-label="{{ label }}" 
        pattern="[0-9]*" 
        name="{{ name }}" 
        value="{{ value }}" />

    <button class="quantity-selector__plus" data-quantity-selector-plus>
        <span class="visually-hidden">Increase quantity</span>
        {% render 'icon-add' %}
    </button>
</div>
