{{ 'related-products.css' | asset_url | stylesheet_tag }}

{%- if section.settings.show_related_products  -%}

      <related-products data-id={{ productID }} class="related-products swiper-related-products page-container" data-url="/recommendations/products?section_id={{ section.id }}&product_id={{ productID }}&limit=9">

        <div class="related-products__loading container">
          <h2 class="related-products__heading">{{ section.settings.heading }}</h2>
          <div class="product-grid product-grid--one-third">
            <div class="product-grid__item product-grid__item--one-third">{% render 'placeholder-product-card' %}</div>
            <div class="product-grid__item product-grid__item--one-third">{% render 'placeholder-product-card' %}</div>
            <div class="product-grid__item product-grid__item--one-third">{% render 'placeholder-product-card' %}</div>
          </div>
        </div>
        
        <div data-related-products class="container">

          {%- if recommendations.products_count > 0 -%}

          <div data-related-container data-qty="{{recommendations.products_count }}">

            <h2 class="related-products__heading">{{ section.settings.heading }}</h2>

            <swiper-slider class="swiper swiper__product-card"  
            data-view-mobile="1.1"
            data-view-tablet="3.2"
            data-view-tablet-extra="3"
            data-view-desktop="3" 
            data-options='{ "pagination": { "el": ".swiper-related-products-pagination", "dynamicBullets": false }, "navigation": { "nextEl": ".swiper-related-products-next", "prevEl": ".swiper-related-products-prev" } }' style="width: 100%;display: block;">

              <div class="swiper-wrapper">

                {%- for product in recommendations.products limit: 9 -%}

                  <div class="swiper-slide">{% render 'product-card', product: product, quickview: true %}</div>

                {%- endfor -%}

              </div>

              <div class="swiper-pagination swiper-related-products-pagination"></div>

              {% if recommendations.products.size > 3 %}
                  <div class="swiper-button-prev swiper-related-products-prev"></div>
                  <div class="swiper-button-next swiper-related-products-next"></div>
              {% endif %}

            </swiper-slider>

          </div>

          {%- endif -%}

        </div>

      </related-products>

{%- endif -%}

{{ 'related-products.js' | asset_url | script_tag }}