<div class="responsive-image">

    {% if disableLazy == false %}
        {%- assign mobile_aspect_ratio = false -%}
        {%- assign tablet_aspect_ratio = false -%}
        {%- assign desktop_aspect_ratio = false -%}
    {% endif %}

    {% comment %} MOBILE {% endcomment %}

    {% if mobile_aspect_ratio %}
        <div class="{% if disableLazy != false %}loading loading--no-effect{% endif %} hidden__desktop hidden__tablet" style="padding-top:{{ 1 | divided_by: mobile_aspect_ratio | times: 100 }}%;">
    {% else %}
        <div class="hidden__desktop hidden__tablet">
    {% endif %}

        <picture>
            <source media="(max-width: 599px)" srcset="{{ mobile_image }}" />
            <source media="(max-width: 899px)" srcset="{{ tablet_image }}" />
            <img style="width: 100%;height: auto;" {% if small_image %}src="{{ small_image }}"{% endif %} alt="{{ alt_image }}" {% if disableLazy != false %}loading="lazy"{% endif %} width="{{ mobile_image_width }}" height="{{ mobile_image_height }}" src="{{ desktop_image }}" />
        </picture>

    </div>

    {% comment %} TABLET {% endcomment %}

    {% if tablet_aspect_ratio %}
        <div class="{% if disableLazy != false %}loading loading--no-effect{% endif %} hidden__mobile hidden__desktop" style="padding-top:{{ 1 | divided_by: tablet_aspect_ratio | times: 100 }}%;">
    {% else %}
        <div class="hidden__mobile hidden__desktop">
    {% endif %}

        <picture>
            <source media="(max-width: 599px)" srcset="{{ mobile_image }}" />
            <source media="(max-width: 899px)" srcset="{{ tablet_image }}" />
            <img style="width: 100%;height: auto;" {% if small_image %}src="{{ small_image }}"{% endif %} alt="{{ alt_image }}" {% if disableLazy != false %}loading="lazy"{% endif %} width="{{ tablet_image_width }}" height="{{ tablet_image_height }}" src="{{ desktop_image }}" />
        </picture>

    </div>

    {% comment %} DESKTOP {% endcomment %}
    {% if desktop_aspect_ratio %}
        <div class="{% if disableLazy != false %}loading loading--no-effect{% endif %} hidden__mobile hidden__tablet" style="padding-top:{{ 1 | divided_by: desktop_aspect_ratio | times: 100 }}%;">
    {% else %}
        <div class="hidden__mobile hidden__tablet">
    {% endif %}

        <picture>
            <source media="(max-width: 599px)" srcset="{{ mobile_image }}" />
            <source media="(max-width: 899px)" srcset="{{ tablet_image }}" />
            <img style="width: 100%;height: auto;" {% if small_image %}src="{{ small_image }}"{% endif %} alt="{{ alt_image }}" {% if disableLazy != false %}loading="lazy"{% endif %} width="{{ desktop_image_width }}" height="{{ desktop_image_height }}" src="{{ desktop_image }}" />
        </picture>

    </div>

</div>
