{{ 'component-share.css' | asset_url | stylesheet_tag }}
<script src="{{ 'component-share.js' | asset_url }}" defer="defer"></script>

<component-share class="share-button">
    <button type="button" data-share-btn class="share-button__button hidden">
      {{ 'general.share.share' | t }}
    </button>
    <details class="share-button__details">
      <summary data-share-summary class="share-button__button">
        {{ 'general.share.share' | t }}
      </summary>
      <div class="share-button__fallback motion-reduce">
        <div class="field">
            <button type="button" data-share-copy class="share-button__copy no-js-hidden"  aria-label="{{ 'general.share.copy_to_clipboard' | t }}">
                {% render 'icon-link' %}
            </button>
            <input id="shareUrlInput"
                    type="text"
                    data-share-input
                    class="field__input"
                    value="{{ shop.url | append: product.url }}"
                    placeholder="{{ 'general.share.share_url' | t }}"
                    onclick="this.select();"
                    readonly
            >
            <label class="field__label hidden" for="shareUrlInput">{{ 'general.share.share_url' | t }}</label>
            <span data-share-message class="share-button__message hidden" role="status">
                {{ 'general.share.success_message' | t }}
            </span>
        </div>
      </div>
    </details>
</component-share>

