<ul class="sort-by-cards filters__text-options">

    {% for option in sort_options %}
    
        <li class="filters__text-option-item">
            <span>
                <input type="checkbox"
                autocomplete="off"
                name="sort_by"
                value="{{ option.value | escape }}"
                id="SortBy-{{ option.value | escape }}-{{ forloop.index }}"
                {% if option.value == sort_by %}checked{% endif %}
                data-sort-by-cards-item
                data-filter-group="sort-by-cards">

                <label for="SortBy-{{ option.value | escape }}-{{ forloop.index }}">{{ option.name | escape }}</label>
            </span>
        </li>
        
    {% endfor %}

</ul>