{{ 'page-register.css' | asset_url | stylesheet_tag }}

<div class="register-page page-container" data-register-form> 

  <div class="register-page__form">

    <div class="container">

      <h1>
        {{ 'customer.register.title' | t }}
      </h1>

      {%- form 'create_customer', novalidate: 'novalidate' -%}

        {%- if form.errors -%}
          <div class="message--error">
            <h3 class="form__message" autofocus>
              {{ 'customer.login.form_error_message' | t }}
            </h3>

            <ul> 
              {%- for field in form.errors -%}
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#RegisterForm-{{ field }}">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        {%- comment -%} First Name {%- endcomment -%}
        <div class="field">      
          <input
            type="text"
            name="customer[first_name]"
            id="RegisterForm-FirstName"
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
            autocomplete="given-name"
            placeholder="{{ 'customer.register.first_name' | t }}"
          >
          <label for="RegisterForm-FirstName">
            {{ 'customer.register.first_name' | t }}
          </label>
        </div>

        {%- comment -%} Last Name {%- endcomment -%}
        <div class="field">
          <input
            type="text"
            name="customer[last_name]"
            id="RegisterForm-LastName"
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
            autocomplete="family-name"
            placeholder="{{ 'customer.register.last_name' | t }}"
          >
          <label for="RegisterForm-LastName">
            {{ 'customer.register.last_name' | t }}
          </label>
        </div>

        {%- comment -%} Email {%- endcomment -%}
        <div class="field">      
          <input
            type="email"
            name="customer[email]"
            id="RegisterForm-email"
            {% if form.email %} value="{{ form.email }}"{% endif %}
            spellcheck="false"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="RegisterForm-email-error"
            {% endif %}
            placeholder="{{ 'customer.register.email' | t }}"
          >
          <label for="RegisterForm-email">
            {{ 'customer.register.email' | t }}
          </label>
        </div>

        {%- comment -%} Password {%- endcomment -%}
        <div class="field">     
          <input
            type="password"
            name="customer[password]"
            id="RegisterForm-password"
            aria-required="true"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="RegisterForm-password-error"
            {% endif %}
            placeholder="{{ 'customer.register.password' | t }}"
          >
          <label for="RegisterForm-password">
            {{ 'customer.register.password' | t }}
          </label>
        </div>

        {%- comment -%} Sign Up Newsletter {%- endcomment -%}

        <div class="field accepts_marketing">  
            <input 
              type="checkbox" 
              id="RegisterForm-signIn" 
              name="customer[accepts_marketing]" 
              value="true">

            <label for="RegisterForm-signIn">
              {{ 'customer.register.sign_up_newsletter' | t }}
            </label>
        </div>

        <div class="register-page__links-div">
          <div>
            <button>
              {{ 'customer.register.submit' | t }}
            </button>
          </div>

          <div>
            <a href="{{ routes.account_login_url }}">
              {{ 'customer.register.already_have_an_account' | t }}
            </a>
          </div>
        </div>

      {%- endform -%}

    </div>

  </div>
  
</div>