<div class="page-container">

  <div class="container">

    <div class="page-width account-template">

      <div class="account-template__header">
        <h1 class="account-template__title">{{ 'customer.account.title' | t }}</h1>
        {{ 'layout.customer.log_out' | t | customer_logout_link }}
      </div>

      <div id="customer_orders" class="account-template__orders">
        <h2>Orders</h2>
        {% paginate customer.orders by 10 %}
        {% if customer.orders.size != 0 %}
          <!-- order details here -->
          <table class="account-template__table-orders">
            <thead>
              <tr>
                <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th scope="col">{{ 'customer.orders.date' | t }}</th>
                <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                    <a href="{{ order.customer_url }}" class="" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                  </th>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>You haven't placed any orders yet.</p>
        {% endif %}
        {{ paginate | default_pagination }}
        {% endpaginate %}
      </div>

      {% if customer.default_address %}
        <div class="account-template__address">
          <h2>Address</h2>
          <p>{{ customer.default_address.address1 }}</p>
          {% if customer.default_address.address2 != "" %}
            <p>{{ customer.default_address.address2 }}</p>
          {% endif %}
          <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
          <p>{{ customer.default_address.zip }}</p>
          <p>{{ customer.default_address.phone }}</p>
          <div class="account-template__view_addresses" ><a href="{{ routes.account_addresses_url }}">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></div> 
        </div>
      {% endif %}

    </div>

  </div>

</div>
