{{ 'page-addresses.css' | asset_url | stylesheet_tag }}

<page-address class="page-width addresses-template">
    <header class="addresses-template__header">
        <h1 class="addresses-template__title" >{{ 'customer.addresses.title' | t }}</h1>
        <p class="addresses-template__return"><a href="{{ routes.account_url }}">{{ 'customer.account.return' | t }}</a></p>
        <p><button data-address-new-btn data-address-new-toggle type="button" class="btn addresses-template__btn-add-address">{{ 'customer.addresses.add_new' | t }}</button></p>
    </header>

    <div data-address-new-form class="page-width addresses-template__form addresses-template__new-address">
        <h2>New Address</h2>
        {% form 'customer_address', customer.new_address %}

        {{ form.errors | default_errors }}

        <div class="addresses-template__form--half-width-container">
            <div class="addresses-template__form--half-width">
                <label for="first_name">First Name</label>
                <input type="text" value="" name="address[first_name]" size="30" required />
            </div>
            <div class="addresses-template__form--half-width">
                <label for="last_name">Last Name</label>
                <input type="text" value="" name="address[last_name]" size="30" required />
            </div>
        </div>   

        <label for="address1">Address 1</label>
        <input type="text" value="" name="address[address1]" required />

        <label for="address2">Address 2</label>
        <input type="text" value="" name="address[address2]"  />

        <div class="addresses-template__form--half-width-container">
            <div class="addresses-template__form--half-width">
                <label for="city">City</label>
                <input type="text" value="" name="address[city]" required />
            </div>
            <div class="addresses-template__form--half-width">
                <label for="country">Country</label>
                <select name="address[country]" required>{{ all_country_option_tags }}</select>
            </div>
        </div> 

        <label for="zip">Zip/Post Code</label>
        <input type="text" value="" name="address[zip]" required />

        <label for="phone">Phone Number</label>
        <input type="tel" value="" name="address[phone]" />

        <div class="addresses-template__edit-item-options">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
            <div><input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}"></div>
            <div><button type="button" data-address-new-toggle class="addresses-template__elem--full-width">{{ 'customer.addresses.cancel' | t }}</button></div>
        </div>

        {% endform %}
    </div>

    <ul class="page-width addresses-template__grid">
        {% for address in customer.addresses %}
            <li class="addresses-template__grid-item" >
                {% if address == customer.default_address %}
                <h2 class="addresses-template__default">{{ 'customer.addresses.default' | t }}</h2>
                {% endif %}

                {{ address | format_address }}

                <div class="addresses-template__buttons">
                    <button
                        type="button"
                        class="btn"
                        data-address-edit-toggle
                        data-form-id="{{ address.id }}">
                        {{ 'customer.addresses.edit' | t }}
                    </button>
                    <form method="post" action="/account/addresses/{{ address.id }}">
                        <input type="hidden" name="_method" value="delete" />
                        <button
                            type="submit"
                            class="btn"
                            data-address-delete-btn
                            data-target="{{ address.url }}"
                            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                            {{ 'customer.addresses.delete' | t }}
                        </button>
                    </form>
                </div>

                <div data-edit-address-form="{{address.id}}" class="addresses-template__form">
                    <h2>Edit Address</h2>
                    {% form 'customer_address', address %}

                        {{ form.errors | default_errors }}

                        <div class="addresses-template__form--half-width-container">
                            <div class="addresses-template__form--half-width">
                                <label for="first_name">First Name</label>
                                <input type="text" name="address[first_name]" size="30" value="{{ address.first_name }}" required />
                            </div>
                            <div class="addresses-template__form--half-width">
                                <label for="last_name">Last Name</label>
                                <input type="text" name="address[last_name]" size="30" value="{{ form.last_name }}" required />
                            </div>
                        </div>                    

                        <label for="address1">Address 1</label>
                        <input type="text" name="address[address1]" value="{{ form.address1 }}" required />

                        <label for="address2">Address 2</label>
                        <input type="text" name="address[address2]" value="{{ form.address2 }}"/>

                        <div class="addresses-template__form--half-width-container">
                            <div class="addresses-template__form--half-width">
                                <label for="city">City</label>
                                <input type="text" name="address[city]" value="{{ form.city }}" required />
                            </div>
                            <div class="addresses-template__form--half-width">
                                <label for="country">Country</label>
                                <select name="address[country]" data-default="{{ form.country }}" required >
                                    <option value="{{ form.country }}" selected>{{ form.country }}</option>
                                    {{ all_country_option_tags }}
                                </select>
                            </div>
                        </div>

                        <label for="zip">Zip/Post Code</label>
                        <input type="text" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" required />

                        <label for="phone">Phone Number</label>
                        <input type="tel" name="address[phone]" value="{{ form.phone }}"/>

                        <div class="addresses-template__edit-item-options">
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
                            <div><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"></div>
                            <div><button type="button" data-form-id="{{ form.id }}" data-address-edit-toggle class="addresses-template__elem--full-width">{{ 'customer.addresses.cancel' | t }}</button></div>
                        </div>

                    {% endform %}
                </div>
            </li> 

        {% endfor %}
    </ul>
</page-address>

{{ 'page-addresses.js' | asset_url | script_tag }}
