<div class="collection"> 
    {% if collection.image.src %}

        {%- assign mobile_image = collection.image.alt -%}
        {%- assign tablet_image = collection.image.src | img_url: '800x' -%}
        {%- assign desktop_image = collection.image.src | img_url: '2000x' -%}
        {%- assign collection_title = collection.title | split: ' - ' | last -%}

        {% render 'banner-overlay', 
        heading: collection_title,
        alt_image: collection_title,
        overlay_position: "middle",
        text_align: "center",
        mobile_image: mobile_image,
        tablet_image: tablet_image,
        tablet_aspect_ratio: collection.image.aspect_ratio,
        desktop_image: desktop_image,
        desktop_aspect_ratio: collection.image.aspect_ratio %}
    
    {% else %}

        <div class="collection__title">
            <h1>{{ collection.title }}</h1>
        </div>

    {% endif %}

    <div class="page-container">
        <div class="container">
            {% paginate collection.products by 40 %}
                {% render 'breadcrumbs' %}

                {% if collection.description != blank %}
                    <div class="collection__description">
                        <p>{{ collection.description }}</p>
                    </div>
                {% endif %}

                {% render 'filters' %}
                
            
                <p class="collection__filters-product-count collection__filters--hidden" data-collection-product-qty data-collection-filter-product-qty>
                    {% if collection.products_count == 1 %}
                        Showing <b>{{ collection.products_count }}</b> product
                    {% else %}
                        Showing <b>{{ collection.products_count }}</b> products
                    {% endif %}
                </p>

                <div class="collection__filters {% if collection.description != blank %}collection__filters--description{% endif %}">
                    <button class="collection__filters-button {% if collection.description != blank %}collection__filters-button--description{% endif %}" data-button-filter>{{section.settings.filter_button}} <span class="count-bubble" data-filter-count="0"></span></button>
                </div>

                <div id="CollectionProductGrid" class="product-grid__wrapper">

                    <div class="product-grid product-grid--{{settings.line_size}}" id="main-collection-product-grid" data-id="{{ section.id }}">
                        
                        {% assign productCount = 0 %}

                        {% render "collection-banners", block: section.blocks %}
                    
                    </div>
                    
                    <div class="collection__footer">
                        <div class="hidden__mobile">{% render 'breadcrumbs', footer: true %}</div>
                    
                        {% if paginate.pages > 1 %}
                            {% render 'pagination', paginate: paginate %}
                        {% endif %}
                    </div>

                </div>
            {% endpaginate %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": {
    "en": "Collection with banners"
  },
  "tag": "section",
  "settings": [
    {
        "type": "paragraph",
        "content": "It is necessary to add block with the name of the collection and the banners"
    },
    {
        "type": "header",
        "content": "Filter configuration"
    },
    {
        "type": "text",
        "id": "filter_button",
        "default": "Filter & Sorting",
        "label": "Button text"
    }
  ],
  "blocks": [
    {
        "type": "collection",
        "name": "Collection Banner",
        "settings":[
            {
                "type": "text",
                "id": "collection_name",
                "label": "Collection Title",
                "info": "It needs to be exactly the same name as the collection name."
            },
            {
                "type": "header",
                "content": "Banners"
            },
            {
                "type": "collection",
                "id": "collection_1",
                "label": "Collection"
            },
            {
                "type": "image_picker",
                "id": "banner_image_1",
                "label": "Banner image"
            },
            {
                "type": "collection",
                "id": "collection_2",
                "label": "Collection"
            },
            {
                "type": "image_picker",
                "id": "banner_image_2",
                "label": "Banner image"
            },            {
                "type": "collection",
                "id": "collection_3",
                "label": "Collection"
            },
            {
                "type": "image_picker",
                "id": "banner_image_3",
                "label": "Banner image"
            },            {
                "type": "collection",
                "id": "collection_4",
                "label": "Collection"
            },
            {
                "type": "image_picker",
                "id": "banner_image_4",
                "label": "Banner image"
            },            {
                "type": "collection",
                "id": "collection_5",
                "label": "Collection"
            },
            {
                "type": "image_picker",
                "id": "banner_image_5",
                "label": "Banner image"
            },            {
                "type": "collection",
                "id": "collection_6",
                "label": "Collection"
            },
            {
                "type": "image_picker",
                "id": "banner_image_6",
                "label": "Banner image"
            },            {
                "type": "collection",
                "id": "collection_7",
                "label": "Collection"
            },
            {
                "type": "image_picker",
                "id": "banner_image_7",
                "label": "Banner image"
            },            {
                "type": "collection",
                "id": "collection_8",
                "label": "Collection"
            },
            {
                "type": "image_picker",
                "id": "banner_image_8",
                "label": "Banner image"
            }
        ]
    }
  ]
}
{% endschema %}
  
