{{ 'component-opening.css' | asset_url | stylesheet_tag }}

{% comment %} Default Image background {% endcomment %}
{%- assign default_image_desktop = section.settings.image_desktop | img_url: '2000x' -%}
{%- assign default_image_mobile = section.settings.image_mobile | img_url: '600x' -%}

{% style %}

    .menu-image[data-handle='default'] { background-image: url({{ default_image_desktop }}); }

    @media screen and (max-width: 600px) {

        body { background-image: url({{ default_image_mobile }}); }

        .menu-image[data-handle='default'] { background-image: url({{ default_image_mobile }}); }
    }

{% endstyle %}

{% comment %} DESKTOP TEXT COLOR {% endcomment %}
{% if section.settings.text_color_desktop %}

    {% style %}
        @media screen and (min-width: 600px) {
            .index-container {
                --color-opening-text: {{ section.settings.text_color_desktop }};
            }
        }
    {% endstyle %}

{% endif %}

{% comment %} MOBILE TEXT COLOR {% endcomment %}
{% if section.settings.text_color_mobile %}

    {% style %}
        @media screen and (max-width: 599px) {
            .index-container {
                --color-opening-text: {{ section.settings.text_color_mobile }};
            }
        }
    {% endstyle %}

{% endif %}

<component-opening>

    <div class="page-container">

        <div class="container">

            {% render 'global-menu', menu: section.settings.main_linklist, btn_menu: 'menu-global-second' %}

        </div>

    </div>

    <div class="menu-image" data-handle="default"></div>

    {% for block in section.blocks %}

        {%- assign menu_title = block.settings.menu_title | handleize -%}
        {%- assign image_desktop = block.settings.image_desktop | img_url: '2000x' -%}
        {%- assign image_tablet = block.settings.image_desktop | img_url: '1200x' -%}
        {%- assign image_mobile = block.settings.image_mobile | img_url: '600x' -%}
        {%- assign aspect_ratio_desktop = block.settings.image_desktop.aspect_ratio -%}
        {%- assign aspect_ratio_mobile = block.settings.image_mobile.aspect_ratio -%}
        
        <div class="menu-image" data-handle="{{ menu_title }}" style="opacity: 0;transition: opacity 400ms ease-in-out;"></div>

        {% comment %} We use this render to pre load the images {% endcomment %}
        <div style="position: absolute; width: 100%;height: 1px;display: block;top: 0;left: 0;overflow: hidden;opacity: 0;">
        
        </div>
        
        {% style %}

            .menu-image[data-handle='{{ menu_title }}'] {
                background-image: url({{ image_desktop }});
            }

            @media screen and (max-width: 600px) {
                .menu-image[data-handle='{{ menu_title }}'] {
                    background-image: url({{ image_mobile }});
                }
            }

        {% endstyle %}
        
        {% comment %} DESKTOP TEXT COLOR {% endcomment %}
        {% if block.settings.text_color_desktop %}

            {% style %}
                @media screen and (min-width: 600px) {
                    .index-container.{{ menu_title }} {
                        --color-opening-text: {{ block.settings.text_color_desktop }};
                    }
                }
            {% endstyle %}
        
        {% endif %}

        {% comment %} MOBILE TEXT COLOR {% endcomment %}
        {% if block.settings.text_color_mobile %}

            {% style %}
                @media screen and (max-width: 599px) {
                    .index-container.{{ menu_title }} {
                        --color-opening-text: {{ block.settings.text_color_mobile }};
                    }
                }
            {% endstyle %}
        
        {% endif %}

    {% endfor %}

</component-opening>

{{ 'component-opening.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Opening Screen",
  "tag": "section",
  "settings": [
    {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu"
    },
    {
        "type": "header",
        "content": "Background - Desktop"
    },
    {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop"
    },
    {
        "type": "color",
        "id": "text_color_desktop",
        "label": "Text color",
        "default": "#000000"
    },
    {
        "type": "header",
        "content": "Background - Mobile"
    },
    {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile"
    },
    {
        "type": "color",
        "id": "text_color_mobile",
        "label": "Text color",
        "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "background",
      "settings": [
      {
        "type": "text",
        "id": "menu_title",
        "label": "Menu title",
        "info": "It needs to be exactly the same as the menu"
        },
        {
            "type": "header",
            "content": "Background - Desktop"
        },
        {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Image"
        },
        {
            "type": "color",
            "id": "text_color_desktop",
            "label": "Text color",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "Background - Mobile"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image"
        },
        {
            "type": "color",
            "id": "text_color_mobile",
            "label": "Text color",
            "default": "#000000"
        }
      ]
    }
  ]
}
{% endschema %}
  
