<style>
    .text-container .btn {
        margin: 20px 20px 20px 0;
        display: inline-block;
    }
</style>

<div class="text-container container" style="text-align: {{ section.settings.text_align }};">

  <div class="text-container__blocks">

    {%- for block in section.blocks -%}

      {%- case block.type -%}

        {%- when 'heading' -%}

            <h2 class="{% if block.settings.heading_size == 'small' %}h2{% else %}h1{% endif %}" style="color: {{ block.settings.text_color }} ;">{{ block.settings.heading | escape }}</h2>
            
        {%- when 'text' -%}
            
            <div class="text-container__text" style="color: {{ block.settings.text_color }};">{{ block.settings.text }}</div>
            
        {%- when 'button' -%}
            
            <a {% if block.settings.button_link == blank %} aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="btn {% if block.settings.button_style_secondary %} btn-secondary {% endif %}">{{ block.settings.button_label | escape }}</a>
      
        {%- endcase -%}

    {%- endfor -%}

  </div>

</div>

{% schema %}
{
  "name": "Text container",
  "settings": [
    {
        "type": "select",
        "id": "text_align",
        "options": [
            { "value": "left", "label": "Left"},
            { "value": "right", "label": "Right"},
            { "value": "center", "label": "Center"}
        ],
        "label": "Text Align"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "Heading text"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            }
          ],
          "default": "medium",
          "label": "Medium"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Heading Color",
            "default": "#000000"
        }
      ]
    },
    {
      "type": "text",
      "name": "Rich Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "Rich Text"
        },
        {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Button Style Secondary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text container",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
