<div class="collection"> 

    {% if collection.image.src != blank %}

        <div class="collection__image">

            {%- assign mobile_image = collection.image.alt -%}
            {%- assign tablet_image = collection.image.src | img_url: '800x' -%}
            {%- assign desktop_image = collection.image.src | img_url: '2000x' -%}
            {%- assign collection_title = collection.title | split: ' - ' | last -%}

            {% render 'banner-overlay', 
            heading: collection_title,
            alt_image: collection_title,
            overlay_position: "middle",
            text_align: "center",
            mobile_image: mobile_image,
            tablet_image: tablet_image,
            tablet_aspect_ratio: collection.image.aspect_ratio,
            desktop_image: desktop_image,
            desktop_aspect_ratio: collection.image.aspect_ratio %}

        </div>        
    {% else %}
        <div class="collection__title">
            <h1>{{ collection.title }}</h1>
        </div>
    {% endif %}

    <div class="page-container">
        <div class="container">
            {% paginate collections by 30 %}
                {% render 'breadcrumbs' %}

                <p class="collection__filters-product-count collection__filters--hidden" data-collection-product-qty data-collection-filter-product-qty>
                    {% if collection.products_count == 1 %}
                        Showing <b>{{ collection.products_count }}</b> product
                    {% else %}
                        Showing <b>{{ collection.products_count }}</b> products
                    {% endif %}
                </p>
                
                <div id="CollectionProductGrid" class="product-grid__wrapper">

                    <div class="product-grid product-grid--{{settings.line_size}}" id="main-collection-product-grid">
                        
                        {% for collection in collections %}

                            <div class="product-grid__item product-grid__item--{{settings.line_size}}">
                                {% render 'collection-card', collection: collection, quickview: true %}
                            </div>

                        {% else %}
                    
                            <div class="product-grid__no-products">
                                <p>{{ 'collections.filters.no_products_message' | t }}</p>
                            </div>
                    
                        {% endfor %}
                    
                    </div>
                    
                    <div class="collection__footer">
                        <div class="hidden__mobile">{% render 'breadcrumbs', footer: true %}</div>
                    
                        {% if paginate.pages > 1 %}
                            {% render 'pagination', paginate: paginate %}
                        {% endif %}
                    </div>

                </div>
            {% endpaginate %}
        </div>
    </div>
</div>