{%- assign product = all_products['product-name'] -%}
{%- assign product1 = all_products['amazing-aluminum-bag-collection1'] -%}
{%- assign product2 = all_products['test-product'] -%}

<script type="text/javascript">
    window.theme.currentProduct = {{ product | json }};
</script>

<div class="page-container">

    <div class="container">

        <div class="page-width">
            <div class="grid">
                <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

                    <div class="style-guide">

                        <h2 class="style-guide-title">Fonts</h2>

                        <h3>Circular Std</h3>
                        <p><code class="code__inline">Regular 400 / Bold 700</code></p>

                        <h2 class="style-guide-title">Headings</h2>

                        <h1>Heading 1</h1>
                        <h2>Heading 2</h2>
                        <h3>Heading 3</h3>
                        <h4>Heading 4</h4>
                        <h5>Heading 5</h5>
                        <h6>Heading 6</h6>

                        <p>You can use classes as well: 
                        <code class="code__inline">.h1</code>, 
                        <code class="code__inline">.h2</code>, 
                        <code class="code__inline">.h3</code>, 
                        <code class="code__inline">.h4</code>, 
                        <code class="code__inline">.h5</code> and 
                        <code class="code__inline">.h6</code>.
                        </p>

                        <h2 class="style-guide-title">Paragraphs</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>

                        <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>, sed do eiusmod tempor
                            incididunt ut labore
                            et dolore magna aliqua. <b>Ut enim ad minim veniam</b>, quis nostrud exercitation ullamco laboris
                            nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>

                        <h2 class="style-guide-title">Icons</h2>

                        {% render 'icon-add' %}
                        {% render 'icon-arrow' %}
                        {% render 'icon-check' %}
                        {% render 'icon-close' %}
                        {% render 'icon-less' %}
                        {% render 'icon-link' %}
                        {% render 'icon-menu' %}
                        {% render 'icon-search' %}
                        {% render 'icon-select' %} 
                        {% render 'icon-image' %}
                        {% render 'icon-loading' %}

                        <br><br>
                        
                        {% include 'icon-instagram' %}
                        {% include 'icon-facebook' %}
                        {% include 'icon-pinterest' %}
                        {% include 'icon-twitter' %}
                        {% include 'icon-tiktok' %}
                        
                        <br><br>

                        <h2 class="style-guide-title">Buttons</h2>

                        <h3>Primary</h3>

                        <button>Button example</button>
                        <button class="btn">Button label</button>
                        <a href="#" class="btn">Button link</a>
                        <button class="btn" disabled>Button disabled</button>
                        <button class="btn btn-icon btn-icon-before">{% render 'icon-check' %}Button with icon</button>

                        <br><br><br>

                        <h3>Secondary</h3>

                        <button class="btn btn-secondary">Secondary button</button>
                        <a href="#" class="btn btn-secondary">Secondary button link</a>
                        <button class="btn btn-secondary" disabled>Secondary button disabled</button>
                        <button class="btn btn-secondary btn-icon btn-icon-before">{% render 'icon-check' %}Button with icon</button>

                        <br><br><br>

                        <h3>Ghost</h3>

                        <button class="btn btn-ghost">Button ghost label</button>
                        <a href="#" class="btn btn-ghost">Button ghost link</a>
                        <button class="btn btn-ghost" disabled>Button ghost disabled</button>
                        <button class="btn btn-ghost btn-icon btn-icon-before">{% render 'icon-check' %}Button with icon</button>

                        <br><br><br>

                        <h3>Ghost secondary</h3>

                        <button class="btn btn-ghost btn-ghost-secondary">Button ghost secondary label</button>
                        <a href="#" class="btn btn-ghost btn-ghost-secondary">Button ghost secondary link</a>
                        <button class="btn btn-ghost btn-ghost-secondary" disabled>Button ghost secondary disabled</button>
                        <button class="btn btn-ghost btn-ghost-secondary btn-icon btn-icon-before">{% render 'icon-check' %}Button with icon</button>

                        <br><br><br>

                        <h3>Link button</h3>

                        <button style="margin-right: 20px;" class="btn-link">Button example</button>
                        <a style="margin-right: 20px;" href="#" class="btn btn-link">Button link</a>
                        <button style="margin-right: 20px;" class="btn-link">{% render 'icon-menu' %}</button>
                        <button style="margin-right: 20px;" class="btn-link btn-link--text"><span>{% include 'icon-menu' %}<span>Menu</span></span></button>
                        <a style="margin-right: 20px;" href="#" class="btn-link">{% render 'icon-menu' %}</a>

                        <br><br><br>

                        <h3>Button with icon</h3>

                        <button class="btn btn-ghost btn-icon btn-icon-before">
                        {% render 'icon-check' %}Button with icon</button>
                        <button class="btn btn-ghost btn-icon btn-icon-after">Button icon after
                        {% render 'icon-check' %}</button>

                        <br><br><br>

                        <h3>Extra button styles</h3>

                        <a href="#" class="btn btn-full">Full button</a>

                        <h2 class="style-guide-title">Forms</h2>

                        <label for="input__default">Label example</label>
                        <input type="text" id="input__default" placeholder="Enter your email adress">

                        <div>
                            <label for="input__with-icon">Label example</label>
                            <input type="text" id="input__with-icon" placeholder="Enter your email adress" class="with-icon">
                        </div>
                        
                        <label for="select_test">Label example</label>
                        <select id="select_test">
                            <option>Select an option</option>
                            <option>Select an option</option>
                            <option>Select an option</option>
                        </select>

                        <label for="select_test_button">Select example Button</label>
                        <select class="select-button" id="select_test_button">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>

                        <br><br>

                        <div>
                            <input type="radio" id="opt1" name="radiotest" value="opt1" checked>
                            <label for="opt1">This is an example</label>
                        </div>
                        <div>
                            <input type="radio" id="opt2" name="radiotest" value="opt2">
                            <label for="opt2">This is an example</label>
                        </div>
                        <div>
                            <input type="radio" id="opt3" name="radiotest" value="opt3">
                            <label for="opt3">This is an example</label>
                        </div>

                        <br>

                        <input type="checkbox" id="copt1" name="checkboxtest" value="opt1">
                        <label for="copt1">This is an example</label><br>

                        <input type="checkbox" id="copt2" name="checkboxtest" value="opt2">
                        <label for="copt2">This is an example</label><br>

                        <input type="checkbox" id="copt3" name="checkboxtest" value="opt3">
                        <label for="copt3">This is an example</label><br>

                        <br>

                        <label for="input_textarea">Label example</label>
                        <textarea name="textarea_test" id="input_textarea" cols="35" rows="5" placeholder="Enter your email adress"></textarea>

                        <h2 class="style-guide-title">Image</h2>

                        {%- assign aspect_ratio = 1 -%}

                        <div style="max-width: 600px; display: inline-block;">

                            <h3>Lazyload enabled</h3>
                            {% render 'image', src: 'https://picsum.photos/id/237/4000', aspect_ratio: 1 %}
                            <br><br>

                            <h3>Lazyload enabled with image sizes (width and height)</h3>
                            {% render 'image', src: 'https://picsum.photos/id/238/4000', aspect_ratio: 1, width: 600, height: 600 %}
                            <br><br>

                            <h3>Lazyload disabled</h3>
                            {% render 'image', src: 'https://picsum.photos/id/240/4000', disableLazy: false %}

                        </div>

                        <br>

                        <h2 class="style-guide-title">Responsive image with lazy loading and aspect ratio</h2>

                        {%- assign aspect_ratio_desktop = 3000 | divided_by: 1000.0 -%}
                        {%- assign aspect_ratio_mobile = 600 | divided_by: 700.0 -%}
                        {%- assign aspect_ratio_tablet = 1200 | divided_by: 500.0 -%}

                        <h3>Lazyload enabled</h3>

                        {% render 'responsive-image', alt_image: 'Test image',
                        desktop_image: 'https://picsum.photos/id/268/3000/1000', 
                        desktop_aspect_ratio: aspect_ratio_desktop, 
                        tablet_image: 'https://picsum.photos/id/269/1200/500', 
                        tablet_aspect_ratio: aspect_ratio_tablet, 
                        mobile_image: 'https://picsum.photos/id/270/600/700', 
                        mobile_aspect_ratio: aspect_ratio_mobile %}
                        
                        <p>The images will change if you resize the window at these breakpoints: <code class="code__inline">Mobile</code>, <code class="code__inline">Tablet</code> and <code class="code__inline">Desktop</code>.</p>

                        <br>

                        <h3>Lazyload disabled</h3>

                        {% render 'responsive-image', disableLazy: false, alt_image: 'Test image',
                        desktop_image: 'https://picsum.photos/id/278/3000/1000', 
                        desktop_aspect_ratio: aspect_ratio_desktop, 
                        tablet_image: 'https://picsum.photos/id/289/1200/500', 
                        tablet_aspect_ratio: aspect_ratio_tablet, 
                        mobile_image: 'https://picsum.photos/id/290/600/700', 
                        mobile_aspect_ratio: aspect_ratio_mobile %}
                        
                        <p>The images will change if you resize the window at these breakpoints: <code class="code__inline">Mobile</code>, <code class="code__inline">Tablet</code> and <code class="code__inline">Desktop</code>.</p>

                        <h2 class="style-guide-title">Color Swatches</h2>
                        {% include 'product-swatches' %}
                        
                        <h2 class="style-guide-title">Quantity Selector</h2>
                        <div style="max-width: 100px;">
                            {% render 'quantity-selector', value: 1, name: 'quantity' %}
                        </div>

                        <h2 class="style-guide-title">Product Card</h2>

                        <br>

                        <div style="margin-bottom: 50px; width: 100%; max-width: 400px;">
                            {% render 'product-card', product: product %}
                        </div>

                        <h2 class="style-guide-title">Product grid</h2>

                        <br>

                        <div style="margin-bottom: 50px; width: 100%;">
                            <div class="product-grid">
                                <div class="product-grid__item">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="product-grid__item">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="product-grid__item">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="product-grid__item">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="product-grid__item">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="product-grid__item">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="product-grid__item">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="product-grid__item">
                                    {% render 'product-card', product: product %}
                                </div>
                            </div>
                        </div>

                        <h2 class="style-guide-title">Search bar</h2>
                        <div style="margin-bottom: 50px;">
                            {% render 'search-bar' %}
                        </div>

                        <h2 class="style-guide-title">Variant selector</h2>
                        <div style="margin-bottom: 50px;">
                            {% render 'product-options', product: product %}
                        </div>

                        <h2 class="style-guide-title">Product single</h2>
                        <div style="margin-bottom: 50px;">
                            {% render 'product-single', product: product %}
                        </div>

                        <h2 class="style-guide-title">Accordion</h2>
                        <div class="accordion" role="navigation" data-accordion>
                            <div class="accordion__item">
                                <button class="accordion__heading" id="btn1" aria-expanded="false" aria-controls="content1" data-accordion-heading>Title{% render 'icon-add' %}{% render 'icon-less' %}</button>
                                <div class="accordion__content" id="content1" role="region" aria-labelledby="bt1" data-accordion-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                            <div class="accordion__item">
                                <button class="accordion__heading" id="btn2" aria-expanded="false" aria-controls="content1" data-accordion-heading>Title{% render 'icon-add' %}{% render 'icon-less' %}</button>
                                <div class="accordion__content" id="content2" role="region" aria-labelledby="bt2" data-accordion-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                            <div class="accordion__item"> 
                                <button class="accordion__heading" id="btn3" aria-expanded="false" aria-controls="content3" data-accordion-heading>Title{% render 'icon-add' %}{% render 'icon-less' %}</button>
                                <div class="accordion__content" id="content3" role="region" aria-labelledby="bt3" data-accordion-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                        </div>
                        <div style="background-color: black; padding: 0 15px;">
                            <div class="accordion accordion--white" role="navigation" data-accordion>
                                <div class="accordion__item">
                                    <button class="accordion__heading" id="btn1" aria-expanded="false" aria-controls="content1" data-accordion-heading>Title{% render 'icon-add' %}{% render 'icon-less' %}</button>
                                    <div class="accordion__content" id="content1" role="region" aria-labelledby="bt1" data-accordion-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                </div>
                                <div class="accordion__item">
                                    <button class="accordion__heading" id="btn2" aria-expanded="false" aria-controls="content1" data-accordion-heading>Title{% render 'icon-add' %}{% render 'icon-less' %}</button>
                                    <div class="accordion__content" id="content2" role="region" aria-labelledby="bt2" data-accordion-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                </div>
                                <div class="accordion__item"> 
                                    <button class="accordion__heading" id="btn3" aria-expanded="false" aria-controls="content3" data-accordion-heading>Title{% render 'icon-add' %}{% render 'icon-less' %}</button>
                                    <div class="accordion__content" id="content3" role="region" aria-labelledby="bt3" data-accordion-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--inverted" role="navigation" data-accordion>
                            <div class="accordion__item">
                                <button class="accordion__heading" id="btn1" aria-expanded="false" aria-controls="content1" data-accordion-heading>{% render 'icon-add' %}{% render 'icon-less' %} Title</button>
                                <div class="accordion__content" id="content1" role="region" aria-labelledby="bt1" data-accordion-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                            <div class="accordion__item">
                                <button class="accordion__heading" id="btn2" aria-expanded="false" aria-controls="content1" data-accordion-heading>{% render 'icon-add' %}{% render 'icon-less' %} Title</button>
                                <div class="accordion__content" id="content2" role="region" aria-labelledby="bt2" data-accordion-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                            <div class="accordion__item"> 
                                <button class="accordion__heading" id="btn3" aria-expanded="false" aria-controls="content3" data-accordion-heading>{% render 'icon-add' %}{% render 'icon-less' %} Title</button>
                                <div class="accordion__content" id="content3" role="region" aria-labelledby="bt3" data-accordion-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                        </div>

                        <h2 class="style-guide-title">Global Navigation</h2>

                        {% render 'global-menu', menu: 'global-menu', btn_menu: 'menu-global-second'  %}

                        <br><br>

                        <h2 class="style-guide-title">Breadcrumbs</h2>
                        
                        {% render 'breadcrumbs' %}

                        <br><br>

                        <h2 class="style-guide-title">Default Carousel</h2>

                        <swiper-slider class="swiper" data-options='{ }' style="width: 100%;display: block;">

                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/500x300" style="width: 100%;" alt="Image" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/500x300" style="width: 100%;" alt="Image" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/500x300" style="width: 100%;" alt="Image" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/500x300" style="width: 100%;" alt="Image" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/500x300" style="width: 100%;" alt="Image" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/500x300" style="width: 100%;" alt="Image" />
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </swiper-slider>
                        
                        <br><br>

                        <swiper-slider class="swiper" data-options='{ "slidesPerView" : 1, "breakpoints": { "600": { "slidesPerView": 1 }, "750": { "slidesPerView": 1 }, "900": { "slidesPerView": 1 }, "1200": { "slidesPerView": 1 }, "1500": { "slidesPerView": 1 } } }' style="width: 100%;display: block;">

                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </swiper-slider>
                        
                        <br><br>

                        <h2 class="style-guide-title">Default carousel with products</h2>

                        <swiper-slider class="swiper swiper__product-card" data-options='{ "pagination": { "el": ".swiper-pagination", "dynamicBullets": false } }' style="width: 100%;display: block;">

                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="swiper-slide">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="swiper-slide">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="swiper-slide">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="swiper-slide">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="swiper-slide">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="swiper-slide">
                                    {% render 'product-card', product: product %}
                                </div>
                                <div class="swiper-slide">
                                    {% render 'product-card', product: product %}
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </swiper-slider>
                        
                        <br><br>

                        <h2 class="style-guide-title">Default carousel with heading</h2>

                        <div class="carousel__wrapper">

                            <div class="carousel__heading-wrapper">
                                <h2 class="carousel__heading h1 highlight">Heading example</h2>
                            </div>

                            <swiper-slider class="swiper" data-options='{ "slidesPerView" : 1, "breakpoints": { "600": { "slidesPerView": 1 }, "750": { "slidesPerView": 1 }, "900": { "slidesPerView": 1 }, "1200": { "slidesPerView": 1 }, "1500": { "slidesPerView": 1 } } }' style="width: 100%;display: block;">

                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="http://via.placeholder.com/2000x600" style="width: 100%;" alt="Image" />
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>

                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>

                            </swiper-slider>
                        
                        </div>
                        
                        <br><br>

                        <h2 class="style-guide-title">Banner Overlay - Top Left</h2>

                        {%- assign aspect_ratio_desktop = 1300 | divided_by: 280.0 -%}
                        {%- assign aspect_ratio_tablet = 1200 | divided_by: 500.0 -%}
                        {%- assign aspect_ratio_mobile = 600 | divided_by: 700.0 -%}

                        {% render 'banner-overlay', 
                            heading: 'Hair Styling Products',
                            subheading: "Meet the fun-size beauty you'll love",
                            button: "Shop Now",
                            button_style: "link",
                            overlay_position: "middle",
                            text_align: "left",
                            mobile_image: 'http://via.placeholder.com/600x700/',
                            mobile_aspect_ratio: aspect_ratio_mobile,
                            tablet_image: 'http://via.placeholder.com/1200x500/',
                            tablet_aspect_ratio: aspect_ratio_tablet,
                            desktop_image: 'http://via.placeholder.com/1300x280/',
                            desktop_aspect_ratio: aspect_ratio_desktop %}
                            
                        <h2 class="style-guide-title">Banner Overlay - Small Style</h2>
                        {% render 'banner-overlay', 
                            heading: 'MUST HAVE',
                            subheading: "Meet the fun-size beauty you'll love."
                            button: "Shop Now",
                            button_style: "ghost",
                            overlay_position: "middle",
                            text_align: "left",
                            text_color: "#FFFFFF",
                            small_style: true,
                            mobile_image: 'http://via.placeholder.com/600x700/',
                            mobile_aspect_ratio: aspect_ratio_mobile,
                            tablet_image: 'http://via.placeholder.com/1200x500/',
                            tablet_aspect_ratio: aspect_ratio_tablet,
                            desktop_image: 'http://via.placeholder.com/1300x280/',
                            desktop_aspect_ratio: aspect_ratio_desktop %}

                        <br><br>

                        <h2 class="style-guide-title">Banner Overlay - Mobile disable overlay style</h2>
                        {% render 'banner-overlay', 
                            heading: 'MUST HAVE',
                            subheading: "Meet the fun-size beauty you'll love."
                            button: "Shop Now",
                            button_style: "link",
                            overlay_position: "middle",
                            text_align: "center",
                            text_color: "#FFFFFF",
                            small_style: true,
                            mobile_image: 'http://via.placeholder.com/600x700/',
                            mobile_aspect_ratio: aspect_ratio_mobile,
                            tablet_image: 'http://via.placeholder.com/1200x500/',
                            tablet_aspect_ratio: aspect_ratio_tablet,
                            desktop_image: 'http://via.placeholder.com/1300x280/',
                            desktop_aspect_ratio: aspect_ratio_desktop,
                            mobile_disable_overlay: true%}

                        <br><br>

                        <h2 class="style-guide-title">Pagination</h2>

                        {% paginate collections['pagination'].products by 1 %}
                            {% for product in collections['pagination'].products %}
                                <div></div>
                            {% endfor %}
                            {% include 'pagination' %}
                        {% endpaginate %}

                        <br><br>

                        <h2 class="style-guide-title">Alert message</h2>
                        {% render 'alert-message' %}

                        <br><br>

                        <h2 class="style-guide-title">Image grid</h2>

                        <div class="image-grid">

                            <div class="image-grid__item">
                                {% render 'banner-overlay', 
                                heading: 'MUST HAVE',
                                subheading: "Meet the fun-size beauty you'll love.",
                                overlay_position: "bottom",
                                text_align: "left",
                                text_color: "#FFFFFF",
                                small_style: true,
                                mobile_image: 'http://via.placeholder.com/600x700/',
                                mobile_aspect_ratio: aspect_ratio_mobile,
                                tablet_image: 'http://via.placeholder.com/1200x500/',
                                tablet_aspect_ratio: aspect_ratio_tablet,
                                desktop_image: 'http://via.placeholder.com/1300x280/',
                                desktop_aspect_ratio: aspect_ratio_desktop %}
                            </div>

                            <div class="image-grid__item">
                                {% render 'banner-overlay', 
                                heading: 'MUST HAVE',
                                subheading: "Meet the fun-size beauty you'll love.",
                                overlay_position: "bottom",
                                text_align: "left",
                                text_color: "#FFFFFF",
                                small_style: true,
                                mobile_image: 'http://via.placeholder.com/600x700/',
                                mobile_aspect_ratio: aspect_ratio_mobile,
                                tablet_image: 'http://via.placeholder.com/1200x500/',
                                tablet_aspect_ratio: aspect_ratio_tablet,
                                desktop_image: 'http://via.placeholder.com/1300x280/',
                                desktop_aspect_ratio: aspect_ratio_desktop %}
                            </div>

                            <div class="image-grid__item">
                                {% render 'banner-overlay', 
                                heading: 'MUST HAVE',
                                subheading: "Meet the fun-size beauty you'll love.",
                                overlay_position: "bottom",
                                text_align: "left",
                                text_color: "#FFFFFF",
                                small_style: true,
                                mobile_image: 'http://via.placeholder.com/600x700/',
                                mobile_aspect_ratio: aspect_ratio_mobile,
                                tablet_image: 'http://via.placeholder.com/1200x500/',
                                tablet_aspect_ratio: aspect_ratio_tablet,
                                desktop_image: 'http://via.placeholder.com/1300x280/',
                                desktop_aspect_ratio: aspect_ratio_desktop %}
                            </div>

                            <div class="image-grid__item">
                                {% render 'banner-overlay', 
                                heading: 'MUST HAVE',
                                subheading: "Meet the fun-size beauty you'll love.",
                                overlay_position: "bottom",
                                text_align: "left",
                                text_color: "#FFFFFF",
                                small_style: true,
                                mobile_image: 'http://via.placeholder.com/600x700/',
                                mobile_aspect_ratio: aspect_ratio_mobile,
                                tablet_image: 'http://via.placeholder.com/1200x500/',
                                tablet_aspect_ratio: aspect_ratio_tablet,
                                desktop_image: 'http://via.placeholder.com/1300x280/',
                                desktop_aspect_ratio: aspect_ratio_desktop %}
                            </div>

                            <div class="image-grid__item image-grid__item--full">
                                {% render 'banner-overlay', 
                                heading: 'MUST HAVE',
                                subheading: "Meet the fun-size beauty you'll love.",
                                overlay_position: "bottom",
                                text_align: "left",
                                text_color: "#FFFFFF",
                                small_style: true,
                                mobile_image: 'http://via.placeholder.com/600x700/',
                                mobile_aspect_ratio: aspect_ratio_mobile,
                                tablet_image: 'http://via.placeholder.com/1200x500/',
                                tablet_aspect_ratio: aspect_ratio_tablet,
                                desktop_image: 'http://via.placeholder.com/1300x280/',
                                desktop_aspect_ratio: aspect_ratio_desktop %}
                            </div>
                        
                        </div>

                        <br><br>

                        <h2 class="style-guide-title">Heading with Heading Description</h2>

                        <div class="heading__wrapper">
                            <h2 class="heading h1 highlight">@thisisatest</h2>
                            <p class="heading__description">This is a test description!</p>
                        </div>
                        
                        <br><br>

                        <h2 class="style-guide-title">Class to hide elements</h2>
                        
                        <p>Classes available: <code class="code__inline">hidden__mobile</code> , <code class="code__inline">hidden__tablet</code> , <code class="code__inline">hidden__desktop</code>.</p>

                        <p>Reize the screen to see the other elements.</p>

                        <div class="hidden__tablet hidden__desktop">
                            <img  src="https://via.placeholder.com/500x300/FAEAEA?text=Mobile" alt="test"/>
                            <code class="code__inline">hidden__tablet hidden__desktop</code>
                        </div>

                        <div class="hidden__mobile hidden__desktop">
                            <img src="https://via.placeholder.com/500x300/FAEAEA?text=Tablet" alt="test"/>
                            <code>hidden__mobile hidden__desktop</code>
                        </div>

                        <div class="hidden__mobile hidden__tablet">
                            <img src="https://via.placeholder.com/500x300/FAEAEA?text=Desktop" alt="test"/>
                            <code>hidden__mobile hidden__tablet</code>
                        </div>
                        
                        <br><br>

                        <h2 class="style-guide-title">Full width container</h2>

                        <div class="container__full-width">
                        
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum.</p>

                            <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>, sed do eiusmod tempor
                                incididunt ut labore
                                et dolore magna aliqua. <b>Ut enim ad minim veniam</b>, quis nostrud exercitation ullamco laboris
                                nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum.</p>

                        </div>
                        
                        <br><br>

                        <h2 class="style-guide-title">Section Banner Slider</h2>

                        {% section 'banner-slider' %}
                        
                        <br><br>

                        <h2 class="style-guide-title">Standalone add to cart with loading</h2>
                        
                        <button class="btn btn-secondary btn-icon btn-icon-before btn-loading" data-cart-add="{{ product.first_available_variant.id}}" data-cart-add-qty="1" data-cart-add-prop="{info:'this is an example'}">
                            {% render 'icon-bag' %}
                            {% render 'icon-loading' %}
                            {{ 'products.product.add_to_cart' | t }}
                        </button>
                        
                        <br><br>

                        <h2 class="style-guide-title">Add to cart form</h2>

                        {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}

                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="id" value="{{ product.first_available_variant.id}}">

                            <button 
                            type="submit" name="add"
                            class="btn btn-secondary btn-icon btn-icon-before btn-loading">
                                {% render 'icon-bag' %}
                                {% render 'icon-loading' %}
                                {{ 'products.product.add_to_cart' | t }}
                            </button>
                            
                        {% endform %}

                        <br><br>

                        <h2 class="style-guide-title">Timer component</h2>

                        {% section 'timer' %}
                        
                        <br><br>

                        <h2 class="style-guide-title">Hot Trends Section</h2>

                        {% section 'hot-trends' %}

                        <br><br>
                        
                        <h2 class="style-guide-title">Event Detail</h2>

                        {% section 'event-detail' %}

                        <br><br>

                        <h2 class="style-guide-title">Products Slider</h2>

                        {% section 'products-slider' %}
                        
                        <br><br>

                        <h2 class="style-guide-title">Price Table Category</h2>

                        {% section 'price-table-category' %}

                        <br><br>
                    
                        {% section 'price-table' %}

                        <br><br>

                        <h2 class="style-guide-title">Image gallery slider</h2>

                        {% section 'gallery-slider' %}

                        <br><br>

                        <h2 class="style-guide-title">Modal</h2>

                        <strong>Required properties:</strong>
                        <code class="code__inline">data-modal-open</code> on the btn open,
                        <code class="code__inline">data-modal-name</code> on the modal container,
                        the two with the same attribute,
                        <code class="code__inline">data-modal-close</code>  on the btn close,
                        and <code class="code__inline">data-modal</code> on the modal container,
                        the two without attribute defined

                        <br><br>

                        <strong>Sizes class: </strong> <br>
                        <code class="code__inline">modal__content--small</code> - max-width: 20%, <br>
                        <code class="code__inline">modal__content--default</code> - max-width: 40%, <br>
                        <code class="code__inline">modal__content--large</code> - max-width: 60%, <br>
                        <code class="code__inline">modal__content--full-screen</code> - width and height: 100% <br>

                        <br><br>

                        Click on <code class="code__inline">data-modal-open</code> to open the modal with <code class="code__inline">data-modal</code> with same attribute and click on <code class="code__inline">data-modal-close</code> or outside the modal container to close

                        <br><br>

                        <button data-modal-open="image">Open modal with image</button>

                        <div class="modal__container" role="dialog" aria-modal="true" data-modal data-modal-name= "image">
                            <div class="modal__content  modal__content--large">
                                <button class="modal__close" data-modal-close>{% render 'icon-close' %}</button>
                                <div>
                                    <img src="https://via.placeholder.com/490x610/FAEAEA?text=Modal" alt="test"/>
                                </div>
                            </div>
                        </div>

                        <button data-modal-open="small">Open modal small</button>

                        <div class="modal__container " role="dialog" aria-modal="true" data-modal data-modal-name= "small">
                            <div class="modal__content modal__content--small">
                                <button class="modal__close" data-modal-close>{% render 'icon-close' %}</button>
                                <div>
                                    <div>This is a small modal</div>
                                    <button>Ok</button>
                                </div>
                            </div>
                        </div>

                        <button data-modal-open="default">Open modal default</button>

                        <div class="modal__container" role="dialog" aria-modal="true" data-modal data-modal-name= "default">
                            <div class="modal__content modal__content--default">
                                <button class="modal__close" data-modal-close>{% render 'icon-close' %}</button>
                                <div>
                                    <h2 class="h3">Hear about a 260 Sample Sale event first! </h2>
                                    <p>Plus - receive event announcements like special promotions or additional discounts that happen throughout the week</p>
                                    <form id="notify-me" action="" method="POST">

                                        <div class="input-group {% if form.errors %} input-group--error {% endif %}">
                                            <label hidden for="{{ formID }}-email">Email</label>
                                            <input type="email"
                                            name="email"
                                            id="{{ formID }}-email"
                                            class="input-group__field {% if form.errors %} input--error {% endif %}"
                                            value="{{ form.email }}"
                                            placeholder="Email*"
                                            aria-label="Email"
                                            aria-required="true"
                                            required
                                            autocorrect="off"
                                            autocapitalize="off"
                                            {% if form.errors %}
                                                aria-invalid="true"
                                                aria-describedby="{{ formID }}-email-error"
                                                data-form-status
                                            {% endif %}>
                                        </div>
                        
                                        <div class="coming-soon__form--half-width-container">
                                            <div class="coming-soon__form--half-width">
                                                <label hidden for="{{ formID }}-first_name">First Name</label>
                                                <input type="text" 
                                                id="{{ formID }}-first_name" 
                                                placeholder="First Name*" 
                                                value="" 
                                                size="30" 
                                                required />
                                            </div>
                                            <div class="coming-soon__form--half-width">
                                                <label hidden for="{{ formID }}-last_name">Last Name</label>
                                                <input type="text" 
                                                id="{{ formID }}-last_name" 
                                                placeholder="Last Name*" 
                                                size="30" 
                                                required />
                                            </div>
                                        </div>   
                        
                                        <button type="submit" class="btn btn-full">
                                            Subscribe
                                        </button>
                        
                                    </form>
                                    <div>We use email and targeted online advertising to send you product and services updates, promotional offers and other marketing communications based on the information we collect about you, such as your email address, general location, and purchase and website browsing history.</div>
                                </div>
                            </div>
                        </div>

                        <button data-modal-open="large">Open modal large</button>

                        <div class="modal__container" role="dialog" aria-modal="true" data-modal data-modal-name= "large">
                            <div class="modal__content modal__content--large">
                                <button class="modal__close" data-modal-close>{% render 'icon-close' %}</button>
                                <div>
                                    <h2 class="h3">Hear about a 260 Sample Sale event first! </h2>
                                    <p>Plus - receive event announcements like special promotions or additional discounts that happen throughout the week</p>
                                    <form id="notify-me" action="" method="POST">

                                        <div class="input-group {% if form.errors %} input-group--error {% endif %}">
                                            <label hidden for="{{ formID }}-email">Email</label>
                                            <input type="email"
                                            name="email"
                                            id="{{ formID }}-email"
                                            class="input-group__field {% if form.errors %} input--error {% endif %}"
                                            value="{{ form.email }}"
                                            placeholder="Email*"
                                            aria-label="Email"
                                            aria-required="true"
                                            required
                                            autocorrect="off"
                                            autocapitalize="off"
                                            {% if form.errors %}
                                                aria-invalid="true"
                                                aria-describedby="{{ formID }}-email-error"
                                                data-form-status
                                            {% endif %}>
                                        </div>
                        
                                        <div class="coming-soon__form--half-width-container">
                                            <div class="coming-soon__form--half-width">
                                                <label hidden for="{{ formID }}-first_name">First Name</label>
                                                <input type="text" 
                                                id="{{ formID }}-first_name" 
                                                placeholder="First Name*" 
                                                value="" 
                                                size="30" 
                                                required />
                                            </div>
                                            <div class="coming-soon__form--half-width">
                                                <label hidden for="{{ formID }}-last_name">Last Name</label>
                                                <input type="text" 
                                                id="{{ formID }}-last_name" 
                                                placeholder="Last Name*" 
                                                size="30" 
                                                required />
                                            </div>
                                        </div>   
                        
                                        <button type="submit" class="btn btn-full">
                                            Subscribe
                                        </button>
                        
                                    </form>
                                    <div>We use email and targeted online advertising to send you product and services updates, promotional offers and other marketing communications based on the information we collect about you, such as your email address, general location, and purchase and website browsing history.</div>
                                </div>
                            </div>
                        </div>

                        <button data-modal-open="full-screen">Open modal full-screen</button>

                        <div class="modal__container " role="dialog" aria-modal="true" data-modal data-modal-name= "full-screen">
                            <div class="modal__content modal__content--full-screen">
                                <button class="modal__close" data-modal-close>{% render 'icon-close' %}</button>
                                <div>
                                    <h2 class="h3">Hear about a 260 Sample Sale event first! </h2>
                                    <p>Plus - receive event announcements like special promotions or additional discounts that happen throughout the week</p>
                                    <form id="notify-me" action="" method="POST">

                                        <div class="input-group {% if form.errors %} input-group--error {% endif %}">
                                            <label hidden for="{{ formID }}-email">Email</label>
                                            <input type="email"
                                            name="email"
                                            id="{{ formID }}-email"
                                            class="input-group__field {% if form.errors %} input--error {% endif %}"
                                            value="{{ form.email }}"
                                            placeholder="Email*"
                                            aria-label="Email"
                                            aria-required="true"
                                            required
                                            autocorrect="off"
                                            autocapitalize="off"
                                            {% if form.errors %}
                                                aria-invalid="true"
                                                aria-describedby="{{ formID }}-email-error"
                                                data-form-status
                                            {% endif %}>
                                        </div>
                        
                                        <div class="coming-soon__form--half-width-container">
                                            <div class="coming-soon__form--half-width">
                                                <label hidden for="{{ formID }}-first_name">First Name</label>
                                                <input type="text" 
                                                id="{{ formID }}-first_name" 
                                                placeholder="First Name*" 
                                                value="" 
                                                size="30" 
                                                required />
                                            </div>
                                            <div class="coming-soon__form--half-width">
                                                <label hidden for="{{ formID }}-last_name">Last Name</label>
                                                <input type="text" 
                                                id="{{ formID }}-last_name" 
                                                placeholder="Last Name*" 
                                                size="30" 
                                                required />
                                            </div>
                                        </div>   
                        
                                        <button type="submit" class="btn btn-full">
                                            Subscribe
                                        </button>
                        
                                    </form>
                                    <div>We use email and targeted online advertising to send you product and services updates, promotional offers and other marketing communications based on the information we collect about you, such as your email address, general location, and purchase and website browsing history.</div>
                                </div>
                            </div>
                        </div>

                        <br><br>

                        <h2 class="style-guide-title">Coming soon</h2>

                        {% section 'coming-soon' %}

                        <br><br>

                        <h2 class="style-guide-title">Instagram</h2>

                        {% section 'instagram' %}

                        <h2 class="style-guide-title">Tooltip</h2>

                        {% capture content1 %}
                            <p>Social links:</p>
                            {% render 'social-links' %}
                        {% endcapture %}

                        {% capture content2 %}
                            <p>Form:</p>
                            {%- form 'recover_customer_password' -%}
                                {% assign recover_success = form.posted_successfully? %}
                
                                {%- if form.errors -%}
                                <div class="message--error">
                                    <small id="RecoverEmail-email-error" class="form__message">
                                    {{ form.errors.messages['form'] }}
                                    </small>
                                </div>
                                {%- endif -%}
                
                                <div class="field">
                                <input type="email"
                                    value=""
                                    name="email"
                                    id="RecoverEmail"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    autocomplete="email"
                                    {% if form.errors %}
                                    aria-invalid="true"
                                    aria-describedby="RecoverEmail-email-error"
                                    autofocus
                                    {% endif %}
                                    placeholder="{{ 'customer.login.email' | t }}"
                                >
                                <label for="RecoverEmail">
                                    {{ 'customer.login.email' | t }}
                                </label>
                                </div>
                
                                <br>
                                <div class="login-page__links-div">
                                <div>
                                    <button>
                                    {{ 'customer.recover_password.submit' | t }}
                                    </button>
                                </div>
                
                                <div>
                                    <a href="{{ routes.account_login_url }}">
                                    {{ 'customer.recover_password.cancel' | t }}
                                    </a>
                                </div>
                                </div>
                            {%- endform -%}
                        {% endcapture %}

                        {% capture content3 %}
                            <p>Image:</p>
                            <img src="http://via.placeholder.com/300x200/F1F1F1" alt="Image" />
                        {% endcapture %}

                        <p>
                            Available alignments: 
                            <code class="code__inline">left</code>
                            <code class="code__inline">center</code>
                            <code class="code__inline">right</code>
                        </p>
                        <p>
                            Content you can add: any html code, as
                            <code class="code__inline">a form</code>
                            <code class="code__inline">an image</code>
                            <code class="code__inline">buttons</code>
                            <code class="code__inline">a product</code>
                        </p>
                        <p>When click on the link the content will appear.</p>
                        {% render 'tooltip', text: "Connect with us on Social", content: content1, align: "left" %}
                        {% render 'tooltip', text: "Connect with us on Social", content: content2, align: "center" %}
                        {% render 'tooltip', text: "Connect with us on Social", content: content3, align: "right" %}

                        <br><br>

                        <h2 class="style-guide-title">Collection Banner</h2>

                        {% render 'collection-banner',
                        collection_link: "collection_link",
                        collection_title: "collection_title",
                        collection_image: collection_image,
                        shop_now: "Shop Now" %}

                        <br><br>

                        <h2 class="style-guide-title">Popup</h2>

                        <p>The popup is floating around the page. It is located in the lower right corner of the screen.</p>
                        
                        {% render 'popup',  banner_text: 'Get +20%', title_text: 'By more, Save More', description_text: 'Amet minim mollit non deserunt ullamco'%}

                        <br><br>

                        <h2 class="style-guide-title">Collection Filters</h2>

                        {% render 'filters' %}

                        <button data-button-filter data-filter-count="0">open filters</button>
                        
                        <br><br>
                        
                        <h2 class="style-guide-title">Quick View</h2>
                        
                        <script src="{{ 'quick-view.js' | asset_url }}" defer="defer"></script>
                        
                        <button data-quick-view-handle="{{product.handle}}">{{product.title}}</button>
                        <button data-quick-view-handle="{{product1.handle}}">{{product1.title}}</button>
                        <button data-quick-view-handle="{{product2.handle}}">{{product2.title}}</button>
                        
                        {% render 'quick-view' %}

                        <br><br>

                        <h2 class="style-guide-title">Placeholder product card</h2>
                                                
                        <div class="product-grid">
                          <div class="product-grid__item">{% render 'placeholder-product-card' %}</div>
                          <div class="product-grid__item">{% render 'placeholder-product-card' %}</div>
                          <div class="product-grid__item">{% render 'placeholder-product-card' %}</div>
                        </div>

                        <br><br>
                        
                        <h2 class="style-guide-title">Medium Zoom</h2>

                        <div data-zoomable>
                            <img src="http://via.placeholder.com/300x200/F1F1F1" alt="Image" />
                        </div>

                        <br><br>

                        <h2 class="style-guide-title">Progress Bar</h2>

                        {% render 'progress-bar' %}

                        <br><br>
                        

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<style>
    .style-guide-title {
        display: block;
        width: 100%;
        border-bottom: 1px solid #CCC;
        padding: 20px 0;
        margin: 40px 0 20px 0;
    }
</style>

